CMakeCache.txt
Doxypress.*
Doxypress*.tar.bz2
Doxypress*.zip

/do-*
/build/
/deploy/
/src/doxy_build_info.h

/src/parser/read_me_important.txt
/src/parser/do-*
/src/parser/license.txt

test_build/do-gdb
test_build/do-run
test_build/*.log
test_build/*.txt

test_build/output_test
test_build/output_clang
test_build/output_clang_lex
test_build/output_py
test_build/x_hold

test_doxy/output_clang
test_doxy/output_test
test_doxy/output_py
