.dirstamp

autom4te.cache/*
autotools/build-aux/*
autotools/m4/lt*.m4
autotools/m4/libtool.m4
autotools/m4/pkg.m4
config.status
libtool
Makefile
Makefile.in
aclocal.m4
configure
config.log
error.log

/bin/Makefile
/bin/src
/bin/*.cpp
/bin/.deps
/bin/.libs
/bin/*.o
/bin/*.exe

/deploy
/install

test_build/*.log
test_build/*.txt

test_build/output_test
test_build/output_clang
test_build/output_py

test_doxy/output_clang
test_doxy/output_test
test_doxy/output_py
