/* Custom Styling for DoxyPress Test Suite */

h1, h2, h3, h4, h5, h6 {
   margin-top: 2em;
}

h3 {
   font-size: 110%;
}

h4 {
   font-size: 100%;
}

h6 {
   font-size: 90%;
   color: #6A737D;
}


/* table 1 */
table.doxtable {
	border-collapse:collapse;
	margin-top: 18px;
   margin-left: 15px;
   margin-bottom: 4px;
   margin-right: 15px;
}

table.doxtable td, table.doxtable th {
	border: 1px solid #2D4068;
	padding: 3px 7px 2px;
}

table.doxtable th {
	background-color: #374F7F;
	color: #FFFFFF;
	font-size: 110%;
	padding-bottom: 4px;
	padding-top: 5px;
}


/* table 2 */
table.generic
{
   margin-top: 10px;
   margin-left: 25px;
   margin-bottom: 40px;
   font-size: 16px;
   border-collapse: collapse;
   border-radius: 7px 7px 7px 7px;
   border: 1px solid #C0C0C0;
}

table.generic th
{
   margin: 0px;
   padding: 5px 15px 5px 10px;
   background-color: #E1E1E1;
   color: #333333;
}

table.generic tr
{
   color: #333333;
   vertical-align: top;
}

table.generic td
{
   padding: 3px 40px 5px 10px;
   border: 1px solid #C0C0C0;
   vertical-align: top;
}


/* div */
div.contents {
	margin-right: 18px;
}

div.fragment {
	padding: 4px;
   padding-left: 6px;
   padding-bottom: 6px;
   margin-right: 18px;
   margin-top: 14px;
   margin-bottom: 14px;
}

div.md {
   margin-top: 40px;
   margin-bottom: 15px;
   padding-top: 3px;
   padding-left: 12px;
   padding-bottom: 3px;
   padding-right: 12px;
   display: inline-block;

   background-color: #777777;
   color: #FFFFFF;
}

div.md p {
   font-size: 125%;
   margin-top: 0px;
   margin-bottom: 0px;
}

div.list_page
{
   margin-top: 35px;
   margin-left: 30px;
   margin-right: 50px;
   margin-bottom: 30px;
   padding:5px;
   border: 3px blue solid;
}

div.one-line
{
   margin: 0px;
}

/* see also */
dl.see
{
}

dl.see dd
{
   margin-left: .3em;
   display: inline;
}

dl.see dt
{
   margin-left: 0px !important;
   display: inline;
}

/* cs classes */
.cs_heading {
   background-color: #CCCCCC;
   color: #000000;
   margin-right: 300px;
	padding-left: 6px;
	padding-bottom: 4px;
   padding-top: 5px;
}

.cs_margin{
	margin-right:5em;
}

.cs_note1
{
   font-style:italic;
   margin-top:5px;
   margin-left:-2px;
   margin-bottom:20px;
   padding-top:7px;
   padding-bottom:10px;
   padding-left: 5px;
   border-left:4px solid;
   border-color: #D0C000;
}

.cs_note2
{
   font-weight: bold;
   font-style:italic;
   padding-right:3px;
}

/* other */
.badref {
   font-weight: bold;
   color: purple;
}

hr {
   height: 0px;
   border: none;
   border-top: 1px solid #4A6AAA;
   width: 70%;
   margin-top: 20px;
   margin-bottom: 20px;
}


/* links */
a, a:visited, .contents a:visited {
   font-weight: 500;
   color: #023CB3;                          /* blue */
}

a.el, a.el:visited, .contents a.el:visited {
   font-weight: 500;
   color: #023CB3;                          /* blue */
}

a.docs-link {
   font-weight: bold;
   text-decoration: underline;
   color: #023CB3;                          /* blue */
}

a.www-link {
   font-weight: bold;
   text-decoration: underline;
   color: #3D578C;                          /* blue */
   padding-left: 12px;
   background: url("closed.png");
   background-repeat: no-repeat;
   background-position: left center;
}


/* footer  */
div.navpath {
   line-height: 100%;
   float:bottom;
}

.navpath li
{
   background-image:none;
   background-repeat:no-repeat;
   background-position:right;
}

.navpath li.footer-l
{
   float:left;
}

.navpath li.footer-r
{
   float:right;
}